@model IEnumerable<Assignment_shopping_shirt.Models.CartDetail>

@{
    ViewData["Title"] = "CartDetail";
}

<h1>CartDetail</h1>

<p>
    <a asp-action="CreateCartDetail">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditCartDetail", new {id=item.Id}) |
                    @Html.ActionLink("Details", "DetailCartDetail", new {id=item.Id}) |
                    @Html.ActionLink("Delete", "DeleteCartDetail", new {id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
