@model IEnumerable<Assignment_shopping_shirt.Models.Color>

@{
    ViewData["Title"] = "Color";
}

<h1>Color</h1>

<p>
    <a asp-action="CreateColor">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditColor", new {  id=item.ID  }) |
                    @Html.ActionLink("Details", "DetailColor", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "DeleteColor", new { id=item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
