@model IEnumerable<Assignment_shopping_shirt.Models.Product>

@{
    ViewData["Title"] = "ProductIndex";
}
<div>
    <div class="container">
        <image src="https://theme.hstatic.net/200000305259/1000963148/14/slide_index_2.jpg?v=162" style="width:100%"></image>
    </div>
    <br />
    <br />

    <nav class="container">
        <div class="row">
            <div class="col-md-3 col-6">
                <div>
                    <center>
                        <img src="https://img.icons8.com/external-flat-satawat-anukul/256/external-ecommerce-ecommerceflat-flat-satawat-anukul-55.png" alt="" width="20%" />
                        <p>GIAO HÀNG TOÀN QUỐC</p>
                        <p>
                            Thời gian giao hàng linh động từ 3 - 4 - 5 ngày tùy khu vực, đôi khi
                            sẽ nhanh hơn hoặc chậm hơn. Mong Quý Khách hàng thông cảm và cố gắng
                            đợi hàng giúp shop.
                        </p>
                    </center>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div>
                    <center>
                        <img src="https://img.icons8.com/office/256/refresh.png" alt="" width="20%" />
                        <p>CHÍNH SÁCH ĐỔI TRẢ HÀNG</p>
                        <p>
                            Sản phẩm được phép đổi hàng trong vòng 36h nếu phát sinh lỗi từ nhà
                            sản xuất (Yêu cầu: hình ảnh phần bị lỗi rõ nét, chi tiết và đầy đủ).
                        </p>
                    </center>
                </div>
            </div>

            <div class="col-md-3 col-6">
                <div>
                    <center>
                        <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/256/external-get-money-banking-and-finance-kiranshastry-lineal-color-kiranshastry-2.png" alt="" width="20%" />
                        <p>GIAO HÀNG NHẬN TIỀN VÀ KIỂM KÊ ĐƠN HÀNG</p>
                        <p>
                            Được phép kiểm hàng trước khi thanh toán. Lưu ý: Trường hợp Quý
                            Khách hàng đã nhận hàng về nhà, vui lòng quay video unbox đơn hàng
                            trong tình trạng nguyên vẹn để có căn cứ xác thực đơn hàng gặp phải
                            vấn đề, trường hợp không có video shop không thể hỗ trợ.
                        </p>
                    </center>
                </div>
            </div>

            <div class="col-md-3 col-6">
                <div>
                    <center>
                        <img src="https://img.icons8.com/office/1x/phone.png" alt="" width="20%" />
                        <p>ĐẶT HÀNG ONLINE VÀ KIỂM TRA</p>
                        <p>ĐƠN HÀNG VUI LÒNG LIÊN HỆ</p>
                        <p>Hotline: 037 335 7405.</p>
                    </center>
                </div>
            </div>
        </div>
    </nav>

</div>
<br />

<div style="display: flex; align-items: center;">
    <div style="flex: 1; border-bottom: 1px solid black;"></div>
    <span style="padding: 0 10px; line-height: 20px;">
        <center>
            <h3>VERGENCY</h3>
            <br />
            Satisfy You - Happy Us.
        </center>
    </span>
    <div style="flex: 1; border-bottom: 1px solid black;"></div>
</div>

<br />


<br />
<br />


<br />
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-3">
            <a href="@Url.Action("DetailShop", null, new { Id=item.Id })" style="text-decoration:none;color:black">
                <div class="card">

                    <img src="/images/@item.Image" alt="Avatar" style="width: 100%" />
                    <div class="container">
                        <p class=""> @Html.DisplayFor(modelItem => item.Name)</p>
                      @* // <h5>@Html.DisplayFor(modelItem => item..Name)</h5>*@

                        <hr />
                        <b class="container" style="color: red">@Html.DisplayFor(modelItem => item.Price)đ</b>
                       @* <b style="float: right">@Html.DisplayFor(modelItem => item.AvailableQuantity)</b>*@
                    </div>

                </div>
                <br>
                <br>
            </a>
        </div>

    }
</div>



   

